header, img {
    display: block;
    margin: auto;
}

body {
    background: rgb(32,7,38);
    background: linear-gradient(180deg, rgba(32,7,38,1) 0%, rgba(174,143,217,1) 100%);
    background-attachment: fixed;
    margin: 0px;
}

header, h1 {
    text-align: center;
    margin: 0;
    font-family: 'Pixelify Sans', 'sans-serif';
    font-size: 40px;
    color: white;
}
#scene {
    position: relative;
    width: 1100px;
    margin: auto;
}
#cloud1 {
    position: absolute;
    left: 280px;
    top: 20px;
    animation: animation1 4s infinite;
}

#cloud2 {
    position: absolute;
    right: 220px;
    top: 50px;
    animation: animation2 4s infinite;
}

#cloud3 {
    position: absolute;
    right: 180;
    top: 30px;
    animation: animation3 4s infinite;
}

@keyframes animation1 {
    0% {
        left: 190px;
    }

    50% {
        left: 280px;
    }

    100% {
        left: 190px;
    }
}

@keyframes animation2 {
    0% {
        right: 220px;
    }

    50% {
        right: 320px;
    }

    100% {
        right: 220px;
    }
}


@keyframes animation3
    0% {
        right: 180px;
    }

    50% {
        right: 140px;
    }

    100% {
        right: 180px;
    }

header, h2 {
    text-align: center;
    margin: 0;
    font-family: 'Pixelify Sans', 'sans-serif';
    font-size: 30px;
    color: white;
}

main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 20px 0px 20px 0px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 20px;
 }

main article {
    flex: 1;
}

.card {
    position: relative;
    perspective: 1000px;
    width: 146px;
    height: 204px;
    margin: auto;
}

.card:hover .front {
    transform: rotateY(0deg);
}

.card:hover .back {
    transform: rotateY(180deg);
}

.back, .front {
    backface-visibility: hidden;
    border-radius: 11px;
    transition: 1s;
    position: fixed;
}

.back {
    transform: rotateY(0deg);
    background-image: url(images/cardback.jpg);
    aspect-ratio: 73/102;
    width: 146px;
}

.front {
    transform: rotateY(-180deg);
}

.front img {
    border-radius: 11px;
    width: 100%;
    height: 204px;
    display: block;
}

p {
    font-family: 'AR One Sans', 'sans-serif';
    color: white;
}

ul {
    padding-left: 0;
}

ul li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background: #DED0F2;
    margin: 5px;
    padding: 10px;
    font-family: 'AR One Sans', 'Sans-serif';
}

ul li:hover {
    background: #D2BBF2;
}

ul li a{
    text-decoration: none;
}

.splitscreen {
    display: flex;
}
