@font-face {
    font-family: 'budmojiggler';
    src: url('fonts/budmo_jiggler-webfont.woff2') format('woff2'),
         url('fonts/budmo_jiggler-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* this is how to use the downloaded font!
    font-family: 'budmojiggler';
} */

.header-container img {
    display: block;
    margin: auto;
}

.header-container h1 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DFB425; 
    font-size: 70px;
    text-align: center;
    font-family: 'budmojiggler';
    font-weight: 200;
}

h1 {
    color:#DFB425;
    font-weight: 200;
    font-family: 'budmojiggler';
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: "Solway", serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
    /* padding-left: 100px; */
    text-align: center;
    margin: 5px;
}

body {
    background-color: #7F1419;
}

p {
    font-family: "Solway", serif;
    font-size: 15px;
    color: white;
    font-weight: 400;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

#chips1 {
    position: absolute;
    bottom: -20%;
    left: 81%;
}

#chips2 {
    position: absolute;
    bottom: -20%;
    right: 83%;
}

#startgame, #quit, #roll, #pass, #rollagain {
    margin: auto;
    display: block;
}

#game {
    text-align: center;
    margin: auto;
}

button {
    font-family: 'budmojiggler';
    color:#DFB425;
    background-color: transparent;
    font-size: 25px;
    font-weight: 100;
}

h3 {
    font-family: "Solway", serif;
    font-size: 17px;
    padding-left: 250px;
}

footer {
    text-align: center;
    font-family: "Solway", serif;
    font-size: 15px;
    padding-top: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #DFB425;
}