h1 {
    font-size: 50px;
    font-family: 'Sofia', cursive;
    text-align: center;
    margin-top: 50px;
}

form {
    font-family: 'Antic Didone', serif;
    font-size: 18px;
    text-align: center;
}

div {
    display: block;
    margin: 25px;
}

body {
    background-image: url("images/madlibs-bg.jpg");
    background-size: cover;
}

#form2 {
    display: none;
}

#letterNo {
    color: red;
}

#name {
    color: green;
}

#sincerely {
    color: blue;
}

