h1 {
    font-size: 50px;
    font-family: 'Sofia', cursive;
    text-align: center;
    margin-top: 50px;
}

form {
    font-family: 'Antic Didone', serif;
    font-size: 18px;
    text-align: center;
}

div {
    display: block;
    margin: 25px;
}

body {
    background-image: url("images/madlibs-bg.jpg");
    background-size: cover;
}

p {
    font-family: 'Antic Didone', serif;
    font-size: 18px;
}

#form2 {
    display: none;
}

#letterNo, #sincerely, #closeName {
    text-align: right;
    margin-right: 450px;
}

#name, #para1, #para2, #para3 {
    margin-left: 450px;
    margin-right: 450px;
}

